.titleContainer {
  background-color: "#221122";
  margin: "auto";
  color: "white";
}

.titleLogoStyles {
  padding-top: "120px";
  font-family: "Coda Caption";
  font-size: "50px";
  color: "white";
}

.titleMenuOptions {
  margin: "auto";
  width: "150px";
  text-align: "center";
  margin-top: "80px";
  font-size: "25px";
}
